:root {
  font-family: Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --montserrat-regular: "Montserrat-Regular";
  --monserrat-semibold: "Montserrat-Semibold";
  --montserrat-extralight: "Montserrat-ExtraLight";
  --shoulders-extralight: "BigShoulders-ExtraLight";
  --name-size: 24px;
  --rating-size: 24px;
  --description-size: 16px;
  --base-border-radius: 16px;
}
