@use "@/shared/assets/fonts/fonts.scss" as *;
@use '@/shared/ui/globals/filter-tab-styles.scss' as *;
.base {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.button {
  @include base-tab();
  background-color: transparent;
  border: 1px solid var(--base-ui-color);
}
