@use "@/shared/assets/fonts/fonts.scss" as *;

.container {
  background-color: var(--widget-background);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  @include constructor(var(--montserrat-extralight), 20px);
}
