@use "@/shared/assets/fonts/fonts.scss" as *;

.container {
  background-color: var(--widget-background);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  @include constructor(var(--montserrat-extralight), 18px);
  @media screen and (max-width: 768px) {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
}
