@use "@/shared/assets/fonts/fonts.scss" as *;

.card {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--base-border-radius);
  width: 100%;
  height: 600px;
  background: linear-gradient(
    180deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(13, 13, 13, 1) 35%
  );

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poster_container {
  width: 45%;
}

.poster {
  object-fit: cover;
  height: 100%;
  border-radius: var(--base-border-radius);
}

.content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.name {
  line-clamp: 3;
  overflow: hidden;
  @include constructor(var(--montserrat-regular), 48px);
}

.base_info {
  margin-top: 24px;
  min-height: 48px;
  @include constructor(
    var(--montserrat-extralight),
    18px,
    var(--base-ui-color-active)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.duration {
  padding: 4px;
  box-sizing: border-box;
  background-color: var(--widget-background);
  border-radius: 4px;
}

.info {
  align-items: center;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.description {
  margin-top: 48px;
  @include constructor(var(--montserrat-extralight), 16px);
  display: flex;
  flex-direction: column;
}
