@use "@/shared/assets/fonts/fonts.scss" as *;

.search {
  margin: 50px auto 0;
  position: relative;
  z-index: 5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 768px) {
    width: var(--mobile-width);
  }
}

.controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  right: 10px;
  z-index: 3;
}
